/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //~390px
  @media (max-width: 390px) {
    font-size: vw(390, 16);
  }

  //390px~960px
  font-size: 16px;

  @include mq(lg) {
    font-size: vw(strip-unit($l-inner), 16);
  }

  //inner~max-screen
  @media (min-width: $l-inner) {
    font-size: 16px;
  }
}

body {
  color: $font-color;
  font-weight: $regular;
  font-family: $base-font-family;
  position: relative;
  z-index: -100;
  background-image: url(/images/common/bg_white.png);
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq(md) {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq(md) {
    &:hover {
      opacity: 0.8;
    }
  }
}
