@use "global" as *;

.c-cat-tag {
  font-size: rem(14);
  line-height: 1;
  font-weight: $medium;
  display: block;
  padding: rem(7) rem(10);
  background-image: url(/images/common/tag_bg_02.png);
  background-size: cover;
  background-position: center;
}