@use "global" as *;

.c-menu-btn {
  transition: transform 0.6s;
}

.c-menu-btn.is-move {
  transform: translateX(rem(-800)) rotate(360deg);
}

.c-menu-btn__img {

}

.c-menu-btn__title {
  display: block;
  text-transform: uppercase;
  font-size: rem(12);
  line-height: 1;
  font-weight: $semi-bold;
}