<footer class="l-footer p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__content">
      <div class="p-footer__logo">
        <%- include('../component/_c-logo') %>
      </div>
      <div class="p-footer__info">
        <p class="p-footer__text">合同会社CodeUps</p>
        <p class="p-footer__text">〒160-0023</p>
        <p class="p-footer__text">東京都新宿区西新宿3-3-13 西新宿水間ビル6階</p>
        <p class="p-footer__text">代表：松村拓貴</p>
      </div>
    </div>
  </div>
  <div class="p-footer__img">
    <img src="/images/common/footer_bg_02.jpg" alt="">
  </div>
  <div class="p-footer__copyright">
    <small>Copyright: 合同会社 CodeUps</small>
  </div>
</footer>