<header class="l-header p-header">
  <div class="p-header__inner l-inner">
    <div class="p-header__content">
      <h1 class="p-header__logo">
        <a href="#"><img src="./images/common/header-logo.svg" alt="ロゴ"></a>
      </h1>
      <div class="p-header__menu-btn">
        <%- include('../component/_c-menu-btn') %>
      </div>
      <div class="p-header__pc-nav">
        <%- include('./_p-pc-nav') %>
      </div>
    </div>
    <!-- <div class="p-header__drawer js-drawer-menu">
      <div class="p-header__sp-nav"></div>
    </div>
    <div class="p-header__overlay js-overlay"></div> -->
  </div>
</header>