<nav class="p-pc-nav">
  <ul class="p-pc-nav__list">
    <li class="p-pc-nav__item"><a href="#">トップ</a></li>
    <li class="p-pc-nav__item"><a href="">お知らせ</a></li>
    <li class="p-pc-nav__item"><a href="">ブログ</a></li>
    <li class="p-pc-nav__item"><a href="">制作実績</a></li>
    <li class="p-pc-nav__item"><a href="">お問い合わせ</a></li>
  </ul>
</nav>