<nav class="p-sp-nav">
  <ul class="p-sp-nav__list">
    <li class="p-sp-nav__item"><a href="">トップ</a></li>
    <li class="p-sp-nav__item"><a href="">お知らせ</a></li>
    <li class="p-sp-nav__item"><a href="">ブログ</a></li>
    <li class="p-sp-nav__item"><a href="">制作実績</a></li>
    <li class="p-sp-nav__item"><a href="">お問い合わせ</a></li>
  </ul>
</nav>