@use "global" as *;

.p-blog {

}

.p-blog__inner {

  @include mq(md) {
    max-width: rem(850);
  }
}

.p-blog__list {

}

.p-blog__pagenavi {
  display: flex;
  justify-content: center;
  margin-top: rem(50);

  @include mq(lg) {
    margin-top: rem(100);
  }
}