@use "global" as *;

.p-greeting {
  background-color: $white;
  padding-top: rem(56);
  padding-bottom: rem(41);
  position: relative;
  z-index: 0;
  overflow: hidden;

  @include mq(lg) {
    background-color: transparent;
    padding-top: rem(89);
    padding-bottom: rem(303);
  }
}

.p-greeting::before {
  content: "";
  width: rem(812);
  height: rem(604);
  background-image: url(/images/front/greeting_bg_01.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  right: rem(-119);
  bottom: rem(-135);
  z-index: -1;

  @include mq(lg) {
    background-image: url(/images/front/greeting_bg_02.png);
    width: rem(2196);
    height: rem(1633);
    right: rem(-328);
    bottom: rem(-415);
  }
}

.p-greeting::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.77);
  position: absolute;
  top: 0;
  left: 0;

  @include mq(lg) {
    width: rem(960);
    height: rem(1020);
  }
}

.p-greeting__inner {
  max-width: rem(700);
  position: relative;
  z-index: 1;

  @include mq(lg) {
    max-width: rem(960);
    margin-left: 0;
  }
}

.p-greeting__content {

  @include mq(lg) {
    padding-left: rem(60);
    padding-right: rem(60);
  }
}

.p-greeting__head {

}

.p-greeting__body {
  margin-top: rem(24);

  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-greeting__lead {
  font-size: rem(24);
  font-weight: $extra-bold;

  @include mq(lg) {
    font-size: rem(34);
  }
}

.p-greeting__text {
  font-weight: $semi-bold;

  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-greeting__text:nth-child(2) {
  margin-top: rem(40);

  @include mq(lg) {
    margin-top: rem(50);
  }
}

.p-greeting__text:nth-child(n+3) {
  margin-top: rem(26);

  @include mq(lg) {
    margin-top: rem(50);
  }
}

.p-greeting__sign {
  text-align: right;
  margin-top: rem(50);

  @include mq(lg) {
    margin-top: rem(214);
  }
}