@use "global" as *;

.p-image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.p-image-list__item {
  width: 100%;
	position: relative;

  @include mq(md) {
    width: 33.333333333%;
    max-width: rem(423);

  }
}

.p-image-list__item a::before {
  content: "";
  display: block;
  padding-top: 54.7393364929%;
}

.p-image-list__item img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

