@use "global" as *;

.p-news {

}

.p-news__inner {

  @include mq(md) {
    max-width: rem(850);
  }
}

.p-news__list {

}

.p-news__pagenavi {
  display: flex;
  justify-content: center;
  margin-top: rem(50);

  @include mq(lg) {
    margin-top: rem(100);
  }
}