@use "global" as *;



.p-quality {
 position: relative;
}

.p-quality__copy {
  position: relative;
  width: 100%;
  z-index: 1;
}

.p-quality__copy img {
  // width: rem(370);
  // margin: auto;

}

.p-quality__contents {
  position: relative;
  display: grid;

}

.p-quality__image {
  position: relative;
  max-width: rem(281);
  top: rem(-68);
  left: rem(25);
  mix-blend-mode: multiply;
  z-index: -1;
}

.p-quality__vertical-letter {
  top: rem(-28);
  left: rem(144);
  position: absolute;
  overflow: hidden;
  z-index: -2;
  width: rem(206);
  height: rem(441);

  @include mq(md) {
  }
}

.p-quality__vertical-letter img {
    vertical-align: bottom;
    object-fit: cover;
    object-position: rem(78);

  }

.p-quality__text {
  font-size: rem(18);
  position: relative;
}

.p-quality__text .under {
  border-bottom: solid 4px #DCBE5A;
}