@use "global" as *;

.p-semantic {
}

.p-semantic__wrapper {
  position: relative;

  @include mq(md) {
    display: flex;
    margin-top: rem(200);
  }

}

.p-semantic__copy {
  margin-top: rem(66);
  width: rem(373);
  position: relative;
  z-index: 1;
  margin-left: rem(-35);

  @include mq(md) {
    width: rem(801);
    margin-top: rem(500);
    margin-left: rem(48);
    order: 2;
  }
}

.p-semantic__image {
  width: rem(350);
  margin-top: rem(-87);
  margin-left: rem(-20);

  @include mq(md) {
    width: rem(983);
    margin-left: 0;
    order: 1;
  }
}

.p-semantic__img {
}

.p-semantic__image-letter {
  width: rem(179);
  height: rem(383);
  position: absolute;
  top: rem(124);
  left: rem(-117);
  z-index: -1;

  @include mq(md) {
    width: rem(517);
    height: rem(1401);
    top: rem(208);
    left: rem(-161);
  }
}

.p-semantic__wrapper--quote {

  @include mq(md) {
    // position: relative;
    margin-left: auto;
    margin-right: rem(200);
    margin-top: rem(-400);
    margin-bottom: rem(116);
    width: rem(486);
  }
}

.p-semantic__double {
  width: rem(46);
  top: rem(-73);
  left: rem(-25);
  position: relative;

  @include mq(md) {

  }
}

.p-semantic__contents {
  font-size: rem(18);

  @include mq(md) {

  }
}

.p-semantic__quote {
  position: relative;
  margin-top: rem(-160);
  line-height: 1.777777778;

  @include mq(md) {
  }
}

.p-semantic__text {
  margin-top: rem(40);
  line-height: 2;
  position: relative;

  @include mq(md) {
  }
}

.p-semantic__text .under {
  border-bottom: solid 4px #dcbe5a;
}
