@use "global" as *;

.p-top-mv {

}

.p-top-mv__inner {

}

.p-top-mv__img {
  position: relative;

  @include mq(lg) {
    height: 100vh;
  }
}

.p-top-mv__img::before {
  content: "";
  display: block;
  padding-top: calc(844/390 * 100%);

  @include mq(sm) {
    padding-top: calc(753/390 * 100%);
  }
  @include mq(lg) {
    padding-top: calc(1079/1920 * 100%);
  }
}

.p-top-mv__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}