@use "global" as *;

.p-tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: rem(-6);
  margin-left: rem(-6);
}

.p-tag-list__item {
  margin-top: rem(6);
  margin-left: rem(6);
}