@use "global" as *;

.p-top-works {
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.p-top-works__inner {
  @include mq(md) {

  }
}

.p-top-works__titles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(80);
}

.p-top-works__title--en {
  max-width: rem(414);
}

.p-top-works__title--ja {
  font-size: rem(50);
  font-weight: $medium;
  position: absolute;
}

.p-top-works__btn {
  margin-top: rem(60);
  text-align: center;
}
