<div class="p-404">
  <div class="p-404-wrapper l-inner">
    <h2>ページが見つかりませんでした</h2>
    <div class="p-404-line">
      <img src="images/common/404_line.jpg" alt="404ページのライン">
    </div>
    <div class="p-404-text">
      <p>お探しのページは移動したか、もしくは削除された可能性がありますので以下よりページへ移動してください</p>
    </div>
    <ul class="p-404-list">
      <li class="p-404-list__item"><a href="/">トップページへ</a></li>
      <li class="p-404-list__item"><a href="/contact.html">お問い合わせフォームへ</a></li>
      <li class="p-404-list__item"><a href="/news.html">お知らせ一覧へ</a></li>
      <li class="p-404-list__item"><a href="/blog.html">ブログ一覧へ</a></li>
      <li class="p-404-list__item"><a href="/works.html">制作実績一覧へ</a></li>
    </ul>
  </div>

  <div class="p-404-image">
    <img src="images/common/404_img.png" alt="404ページの画像">
  </div>
</div>