<div class="p-blog">
  <div class="p-blog__inner l-inner">
    <div class="p-blog__list">
      <%- include('./_p-card-list') %>
    </div>
    <div class="p-blog__pagenavi">
      <%- include('../component/_c-pagenavi') %>
    </div>
  </div>
</div>