<div class="p-concept">
  <picture class="p-concept__image">
    <source srcset="images/common/concept-img.jpg" media="(min-width:768px)">
    <img src="images/common/concept_01.jpg" alt="Web業界をより良いものに">
  </picture>
  <div class="p-concept__contents l-inner">
    <div class="p-concept__title">
      <p>Web業界をより良いものに</p>
    </div>
    <div class="p-concept__text">
      <p>業界全体のコーディングスキル向上の一端を担うべく、コーダーの人材教育を目的としたスキルアップ支援サービス「 CodeUps」 を提供。モダンなコーディングの実装が可能な人材を育て、業界をより良いものにしていきます。</p>
    </div>
  </div>
</div>