<div class="p-form">
  <dl class="p-form__list">
    <div class="p-form__item">
      <dt class="p-form__title">
        <label for="your-name">お名前</label>
      </dt>
      <dd class="p-form__input">
        <input type="text" name="" id="your-name" placeholder="田中 太郎">
      </dd>
    </div>
    <div class="p-form__item">
      <dt class="p-form__title">
        <label for="your-company">会社名</label>
      </dt>
      <dd class="p-form__input">
        <input type="text" name="" id="your-company" placeholder="合同会社 CodeUps">
      </dd>
    </div>
    <div class="p-form__item">
      <dt class="p-form__title">
        <label for="your-email">メールアドレス</label>
      </dt>
      <dd class="p-form__input">
        <input type="email" name="" id="your-email" placeholder="info@codeups.com">
      </dd>
    </div>
    <div class="p-form__item">
      <dt class="p-form__title">
        <label for="your-kind">お問い合わせ内容</label>
      </dt>
      <dd class="p-form__input">
        <textarea name="" id="your-kind" placeholder="お問い合わせ内容に関する詳細をお書きください"></textarea>
      </dd>
    </div>
  </dl>
  <div class="p-form__btn">
    <input class="c-btn" type="submit" value="送　信">
  </div>
</div>