<div class="p-greeting">
  <div class="p-greeting__inner l-inner">
    <div class="p-greeting__content">
      <div class="p-greeting__head">
        <%- include('../component/_c-section-title', {japaneseTitle:'代表挨拶', englishTitle:'greeting', modifier:'greeting'}) %>
      </div>
      <div class="p-greeting__body">
        <p class="p-greeting__lead">クリエイティブで企業の発展に貢献する</p>
        <p class="p-greeting__text">クリエイティブな職業といわれるWeb制作業界ですが、なによりも大切なのは品質の担保です。今やホームページは持っていて当たり前</p>
        <p class="p-greeting__text">私はもともと、溶接特化の製造業出身で、誰もが知る電力会社、製鉄会社、製紙会社やセメント会社を主要取引先とした企業で勤めていた経験から、ものづくり（クリエイティブ）における品質の担保はなによりも大切であることを学びました。</p>
        <p class="p-greeting__text">ホームページは、企業のWeb上の顔であり、時には集客をする重要な役割を担った欠かせないツールのひとつです。</p>
      </div>
      <div class="p-greeting__sign">
        <%- include('../component/_c-sign') %>
      </div>
    </div>
  </div>
</div>