<ul class="p-image-list">
  <li class="p-image-list__item">
    <a href="">
      <img src="images/common/works-img_01.jpg" alt="写真と共に、何気ない日常を。">
    </a>
  </li>
  <li class="p-image-list__item">
    <a href="">
      <img src="images/common/works-img_02.jpg" alt="空中遊歩">
    </a>
  </li>
  <li class="p-image-list__item">
    <a href="">
      <img src="images/common/works-img_01.jpg" alt="写真と共に、何気ない日常を。">
    </a>
  </li>
</ul>
