<div class="p-info">
  <div class="p-info__head">info</div>
  <div class="p-info__body">
    <time class="p-info__date" datetime="2022-08-01">2022年8月1日</time>
    <a class="p-info__title" href="/news.html">公式サイト公開</a>
  </div>
  <div class="p-info__link"><a href="/news.html">more</a></div>
</div>