<div class="p-news">
  <div class="p-news__inner l-inner">
    <div class="p-news__list">
      <%- include('./_p-card-list', {max: 9, link: '/news-detail.html'}) %>
    </div>
    <div class="p-news__pagenavi">
      <%- include('../component/_c-pagenavi') %>
    </div>
  </div>
</div>