<div class="p-quality">
  <div class="p-quality__copy">
    <img src="images/common/quality-copy.png" alt="コーディングの品質を最大限に">
  </div>
  <div class="p-quality__contents">
    <div class="p-quality__image">
      <img src="images/common/quality-img.png" alt="クオリティパーツの画像">
    </div>
    <div class="p-quality__vertical-letter">
      <img src="images/common/CodeUps-removebg-preview.png" alt="CodeUps">
    </div>
  </div>
  <div class="p-quality__text">
    <p>Web サイトをブラウザで表示する HTML 、見た目を決定する
      CSS 、動きを制御する JavaScript など制作に必要なコードにこだ
      わりを持ち、高い品質で制作いたします。
      コードを「ただ書く」だけでなく「<span class="under">考えて書く</span>」こと、そこに制作
      者としてのプライドを持ち、日々制作と向き合っています。</p>
  </div>
</div>