<div class="p-service">
  <div class="p-service__inner l-inner">
    <div class="p-service__contents">
      <div class="p-service__content"></div>
      <div class="p-service__content"></div>
    </div>
  </div>
</div>