<div class="p-service">
  <div class="p-service__inner l-inner">
    <div class="p-service__content">
      <a class="p-service__left" href="#" target="_blank">
        <div class="p-service__container p-service__container--left">
          <h3 class="p-service__title p-service__title--left">Delight</h3>
          <p class="p-service__text p-service__text--left">
            Web サイトをブラウザで表示する HTML、見た目を決定する<br>
            CSS、動きを制御する<br class="u-mobile">JavaScriptなど制作に必要なコードにこだわりを持ち、高い品質で制作いたします。<br>
            コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
          </p>
        </div>
      </a>
      <a class="p-service__right" href="#" target="_blank">
        <div class="p-service__container p-service__container--right">
          <h3 class="p-service__title p-service__title--right">CodeUps</h3>
          <p class="p-service__text p-service__text--right">
            Web サイトをブラウザで表示する HTML、見た目を決定する<br>
            CSS、動きを制御する<br class="u-mobile">JavaScriptなど制作に必要なコードにこだわりを持ち、高い品質で制作いたします。<br>
            コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
          </p>
        </div>
      </a>
    </div>
  </div>
</div>