<div class="p-service">
  <div class="p-service__inner l-inner">
    <div class="p-service__content">
      <div class="p-service__delight">
        <h2 class="p-service__title p-service__title--delight">Delight</h2>
        <p class="p-service__text p-service__text--delight">
          Web サイトをブラウザで表示する HTML、見た目を決定する<br>
          CSS、動きを制御する<br class="u-mobile">JavaScriptなど制作に必要なコードにこだわりを持ち、高い品質で制作いたします。<br>
          コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
        </p>
      </div>
      <div class="p-service__codeups">
        <h2 class="p-service__title p-service__title--codeups">CodeUps</h2>
        <p class="p-service__text p-service__text--codeups">
          Web サイトをブラウザで表示する HTML、見た目を決定する<br>
          CSS、動きを制御する<br class="u-mobile">JavaScriptなど制作に必要なコードにこだわりを持ち、高い品質で制作いたします。<br>
          コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
        </p>
      </div>
    </div>
  </div>
</div>