<div class="p-semantic">
  <div class="p-semantic__wrapper">
    <div class="p-semantic__copy">
      <img src="images/common/semantic-copy.png" alt="セマンティックであること">
    </div>
    <div class="p-semantic__image">
      <div class="p-semantic__img">
        <img src="images/common/semantic-image.png" alt="騎馬兵">
      </div>
      <picture class="p-semantic__image-letter">
        <source srcset="images/common/profesional.png" media="(min-width:768px)" alt="Profesional">
        <img src="images/common/ofesional.png" alt="ofesional">
      </picture>
    </div>
  </div>
  <div class="p-semantic__wrapper--quote">
    <div class="p-semantic__double">
      <img src="images/common/double.png" alt="ダブルクオーテーション">
    </div>
    <div class="p-semantic__contents">
      <blockquote class="p-semantic__quote">
        <p>セマンティック・ウェブ（英: semantic web）は W3C のティム・バーナーズ＝リーによって提唱された、ウェブページの意味を扱うことを可能とする標準やツール群の開発によってワールド・ワイド・ウェブの利便性を向上させるプロジェクト。セマンティック・ウェブの目的はウェブページの閲覧という行為に、データの交換の側面に加えて意味の疎通を付け加えることにある。
          – 引用元：Wikipedia</p>
      </blockquote>
      <div class="p-semantic__text">
        <p>読む人のため。これは目で見ることだけではありません。スクリーンリーダーを利用した耳でのサイト閲覧や検索エンジンといったロボットによる読み込みなど様々なテクノロジーに対して的確に情報を伝達すべく<span class="under">セマンティックなマークアップ</span>を心がけています</p>
      </div>
    </div>
  </div>
</div>