<div class="p-top-works">
  <div class="p-top-works__inner l-inner">
    <div class="p-top-works__titles">
      <h2 class="p-top-works__title--en">
        <img src="images/common/achievements.png" alt="achievements">
      </h2>
      <h3 class="p-top-works__title--ja">制作実績</h3>
    </div>

    <div class="p-top-works__lists">
      <%- include('../project/_p-image-list') %>
    </div>

    <div class="p-top-works__btn">
      <%- include('../component/_c-btn', {link: '#', text: 'more'}) %>
    </div>
  </div>
</div>