<div class="p-top-mv">
  <div class="p-top-mv__inner">
    <div class="p-top-mv__img">
      <picture>
        <source srcset="./images/front/mv_sp.jpg" media="(max-width: 499px)">
        <source srcset="./images/front/mv_tab.jpg" media="(max-width: 1023px)">
        <img src="./images/front/mv_pc.jpg" alt="MV画像">
      </picture>
    </div>
  </div>
</div>