<div class="p-thought">
  <div class="p-thought__inner l-inner">
    <div class="p-thought__content">
      <%- include('./_p-quality') %>
    </div>
    <div class="p-thought__content">
      <%- include('./_p-semantic') %>
    </div>
  </div>
</div>