<div class="p-top-works p-top-works__inner l-inner">
  <div class="p-top-works__titles">
    <h2 class="p-top-works__title--en">
      <img src="images/common/achievements.png" alt="achievements">
    </h2>
    <h3 class="p-top-works__title--ja">制作実績</h3>
  </div>

  <ul class="p-top-works__lists">
    <li class="p-top-works__list">
      <a href="">
        <img src="images/common/works-img_01.jpg" alt="写真と共に、何気ない日常を。">
      </a>
    </li>
    <li class="p-top-works__list">
      <a href="">
        <img src="images/common/works-img_02.jpg" alt="空中遊歩">
      </a>
    </li>
    <li class="p-top-works__list">
      <a href="">
        <img src="images/common/works-img_01.jpg" alt="写真と共に、何気ない日常を。">
      </a>
    </li>
  </ul>

  <div class="p-top-works__btn">
    <%- include('../component/_c-btn', {link: '#', text: 'more'}) %>
  </div>
</div>