<div class="p-top-mv">
  <div class="p-top-mv__inner">
    <div class="p-top-mv__img">
      <picture>
        <source srcset="/images/front/top-mv_sp.jpg" media="(max-width: 519px)">
        <source srcset="/images/front/top-mv_tab.jpg" media="(max-width: 959px)">
        <img src="/images/front/top-mv_pc.jpg" alt="MV画像">
      </picture>
    </div>
    <div class="p-top-mv__info">
      <%- include('./_p-info') %>
    </div>
  </div>
</div>