<div class="p-thought l-inner p-thought__inner">
    <div class="p-thought__content">
      <%- include('./_p-quality') %>
    </div>
    <div class="p-thought__content">
      <%- include('./_p-semantic') %>
    </div>
</div>