<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <main class="l-main">
      <div class="l-mv">
        <%- include('./project/_p-mv') %>
      </div>

    </main>
  </body>
</html>
