<button class="c-close-btn js-hamburger" type="button">
  <div class="c-close-btn__img">
    <img src="./images/common/close-icon.svg" alt="侍のアイコン">
  </div>
  <span class="c-close-btn__title">close</span>
</button>