<button class="c-menu-btn js-hamburger" type="button">
  <div class="c-menu-btn__img">
    <img src="./images/common/menu-icon.svg" alt="侍のアイコン">
  </div>
  <span class="c-menu-btn__title">menu</span>
</button>