<button class="c-menu-btn" type="button" aria-label="メニュー">
  <div class="c-menu-btn__img">
    <img src="./images/common/menu-icon.svg" alt="侍のアイコン">
  </div>
  <span class="c-menu-btn__title">MENU</span>
</button>