<h2 class="c-section-title">
  <span class="c-section-title__ja c-section-title__ja--<%= modifier %>"><%= japaneseTitle %></span>
  <span class="c-section-title__en c-section-title__en--<%= modifier %>"><%= englishTitle %></span>
</h2>